body{
    margin: 0;
    font-family: Arial;
}
#TableT{
    width: 100%;
    background-color: lightgray;
}
#TableT th{
    padding: 12px;
}
#TableT a{
    text-decoration: none;
    color: black;
    padding: 12px;
}
.TabText{
    width: 170px;
}
#MainBody{
    overflow: hidden;
    padding: 4em;
}

#Welcome{
    float: left;
    width: 70%;
    border-style: groove;
    padding: 1em;
}
#Welcome b{
    color: green;
    font-size: 36px;
}

#FreeP{
    float: left;
    width: 70%;
    border-style: groove;
    padding: 1em;
    margin-top: 1em;
}
#FreeP b{
    color: green;
    font-size: 36px;
}

#News{
    background-color: lightgray;
    float: right;
    padding: 1em;
    border-style: groove; 
    width: 15%;  
}

#News article{
    padding: 1em;   
}
#News p{
    margin: 0px;   
}

#newss{
    color: green;
    font-size: 36px;
}

#Messages span{
    color: green;
    font-size: 36px;
}

#Messages{
    float: right;
    border-style: groove;
    padding: 1em;
    width: 15%;  
    margin-top: 1em;
}

#footer{
    background-color: green;
    height: 100px;
}
#footer p{
    margin: 0px;
    text-align: center;
    
}